extends ../template

block variables
  - var title = 'Обо мне'

block content
  include ../common/header
  .about-main
    .about-main-bg
      img.about-main-bg__left(src="assets/images/about_bg_left.svg", alt="")
      img.about-main-bg__right(src="assets/images/about_bg_right.svg", alt="")
    .about-left
      .about-left-title
      .about-left-desc
        
    .about-right

